* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
/* #heading {
  color: red;
}

.header {
  height: 5rem;
  width: 100%;
  background-color: rgb(27, 26, 26);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  object-fit: cover;
  height: 5rem;
  border: 5px solid black;
}

.icon img {
  object-fit: cover;
  height: 5rem;
  border: 5px solid black;
}

.search input {
  height: 3rem;
  width: 600px;
  font-size: large;
}

@media only screen and (max-width: 750px) {
  .header {
    height: 3rem;
    width: 100%;
    background-color: rgb(27, 26, 26);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo img {
    object-fit: cover;
    height: 3rem;
    border: 5px solid black;
  }

  .icon img {
    object-fit: cover;
    height: 3rem;
    border: 5px solid black;
  }

  .search input {
    height: 2rem;
    width: 300px;
  }
} */

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0px 20px;
  width: 600px;
}
.nav-items > ul {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  font-size: large;
  list-style-type: none;
  padding: 0px 20px;
}

.nav-items > ul > li {
  /* background-color: aqua; */
  padding: 10px;
  margin: 10px;
  font-size: larger;
  font-weight: bolder;
}

.Seach {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.res-card {
  width: 200px;
  /* height: 550px; */
  padding: 5px;
  margin: 5px;
  word-wrap: break-word;
  /* overflow: hidden; */
  /* text-overflow: hidden; */
  /* white-space: normal; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}
